@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section {
    display: none;
}

.section--active {
    display: block;
}

.container__sections {
    padding: 2rem;
    background-color: $secondary;
    border-radius: 1.5rem;
    position: relative;

    @media only screen and (max-width: 780px){
        padding: 2rem 4rem;
    }
}

.mobile__menu {
    &__btn {
        display: none;
        position: absolute;
        top: 2rem;
        right: 2rem;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media only screen and (max-width: 1060px){
            display: block;
        }

        @media only screen and (max-width: 780px){
            right: 4rem;
        }
    }

    &__svg {
        display: none;
        width: 3rem;
        height: 3rem;

        @media only screen and (max-width: 1060px){
            display: block;
        }
    }
}

.container__spinner {
    width: 100%;
    min-height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__message {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__interior {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.message {
    font-size: 4rem;
    font-weight: 500;
    color: $white;
    text-align: center;

    @media only screen and (max-width: 670px){
        font-size: 3rem;
    }

    &__button {
        display: flex;
        align-items: center;
        color: $white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        gap: 1.5rem;
        background-color: transparent;
        transition: all 0.5s;
        padding: 0.8rem 1.2rem;
        
        &__span {
            font-size: 2.8rem;
            @media only screen and (max-width: 670px){
                font-size: 2.4rem;
            }
        }
        &__svg {
            width: 3rem;
            height: 3rem;

            @media only screen and (max-width: 670px){
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        &:hover {
            background-color: $green;
        }
    }

    &__svg {
        width: 6rem;
        height: 6rem;

        @media only screen and (max-width: 670px){
            width: 4rem;
            height: 4rem;
        }
    }
}

.svg--big {
    width: 8rem;
    height: 8rem;
    animation: rotate 2s infinite linear;
}

.title{
    &--big {
        font-size: 2.8rem;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: 700;
        margin-bottom: 2rem;
        color: $white;
    }
}

.overview {
    opacity: 0.8;
    display: none;
    background-color: $background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &--active {
        display: block;
    }

    &--settings {
        z-index: 800;
    }

    &--menu {
        z-index: 500;
    }
}